html {
    background-color: white;
}
body {
    padding: 0;
    margin: 0;
}
.container {
    max-width: 750px;
    margin: 0 auto;
}
/* Additional css below this line */
.navigationBar{
    background-color: white;
    max-width: auto;
}
.navigationBar ul {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    list-style: none;
    margin: 0;
}
.navigationBar li{
    font-size: 10px;
    padding: 2em 0 0 0;
}
.navigationBar img{
    max-width: 14vh;
}
#robaLogo {
    max-width: 700px;
    margin: 0 auto;
}
#robaLogo img {
    width: 100%;
}
.robaLinks{
    margin: 0 0 20px 0;
}
.robaLinks ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    margin: 0 auto;
    background-color: #35bab9;
}
.robaLinks li{
    margin: 0 auto;
    color: white;
    padding: 3em;
}
.robaLinks img{
    width: 50px;
}
.mainPics ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0px;
}
.mainPics li{
    width: 100%;
}
.mainPics img{
    width: 100%;
}
.footer{
    background-color: #21800c;
    height:200px;
}
.footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer img{
    width:40px;
    margin: 10px;
}
.footerlist{
    /* width: 200px; */
}
.footerlist li{
    font-size: 10px;
}
.footer > ul > li {
    color: pink;
}
.mainImg{
    width: 50px;
}
