body {
    padding: 0;
    margin: 0;
}
.container {
    max-width: 750px;
}
/* Additional css below this line */
.navigationBar ul{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    list-style: none;
}
.navigationBar img{
    max-width: 20vh;
}
.navigationBar li{
    text-align: center;
}
.welcomeToBaden img{
    width: 100%;
}
