body {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    margin: 0 auto;
}
div {
    border: 1px solid red;
}
.container {
    max-width: 750px;
    margin: 0 auto;
    border: 1px solid blue;
}
/* Specific css below ths line */
.logo {
    float: right;
    width: 17rem;
}
.welcome {
    float: left;
    width: 20rem;
    border: 1px solid red;
}
.header ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.header li {
    padding: 0 1rem 0 0;
}
.header li:hover{
    background-color: gray;
    color: white;
}
/* Trying three columns */
.container1 {
  border: 1px solid orange;
}
.container1 div {
  height: 250px;
  width: 250px;
  background: red;
  display: inline-block;
}
#div1 {
  float: left;
}
#div3 {
  float: right;
}
#div2 {
  margin: auto;
}
